<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifndef env.NETTOOL_VERSION ?>
    <?error Environment variable NETTOOL_VERSION undefined?>
  <?endif?>

  <?ifndef env.NETTOOL_MANUFACTURER ?>
    <?error Environment variable NETTOOL_MANUFACTURER undefined?>
  <?endif?>

  <?ifndef var.Arch?>
    <?error Define Arch to 32 or 64?>
  <?endif?>

  <?ifndef var.Mingw_bin?>
    <?if $(var.Arch) = "64"?>
      <?define Mingw_bin=/usr/x86_64-w64-mingw32/sys-root/mingw/bin ?>
    <?endif?>
    <?if $(var.Arch) = "32"?>
      <?define Mingw_bin=/usr/i686-w64-mingw32/sys-root/mingw/bin ?>
    <?endif?>
  <?endif?>

  <?if $(var.Arch) = "64"?>
    <?define ArchLib=libgcc_s_seh-1.dll?>
    <?define ProgramFilesFolder="ProgramFiles64Folder" ?>
  <?endif?>

  <?if $(var.Arch) = "32"?>
    <?define ArchLib=libgcc_s_sjlj-1.dll?>
    <?define ProgramFilesFolder="ProgramFilesFolder" ?>
  <?endif?>

  <?ifndef var.ArchLib ?>
    <?error Unexpected Arch value $(var.Arch)?>
  <?endif?>

  <Product
    Name="Virtuozzo Guest Network Tool"
    Id="*"
    UpgradeCode="{86F16985-DB40-4E03-834C-09D6342F778B}"
    Manufacturer="$(env.NETTOOL_MANUFACTURER)"
    Version="$(env.NETTOOL_VERSION)"
    Language="1033">
    <?if $(var.Arch) = 32 ?>
    <Condition Message="Error: 32-bit version can not be installed on 64-bit Windows.">NOT VersionNT64</Condition>
    <?endif?>
    <Package
      Manufacturer="$(env.NETTOOL_MANUFACTURER)"
      InstallerVersion="200"
      Languages="1033"
      Compressed="yes"
      InstallScope="perMachine"
      />
    <Media Id="1" Cabinet="prl_nettool.$(env.NETTOOL_VERSION).cab" EmbedCab="yes" />
    <Property Id="WHSLogo">1</Property>
    <MajorUpgrade
      DowngradeErrorMessage="Error: A newer version of prl_nettool is already installed."
      />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)" Name="QEMU Guest Agent">
        <Directory Id="qemu_ga_directory" Name="Qemu-ga">
          <Component Id="prl_nettool" Guid="{A53D4110-6C6F-408D-9DBB-802D86B72527}">
            <File Id="prl_nettool.exe" Name="prl_nettool.exe" Source="prl_nettool.exe" KeyPath="yes" DiskId="1"/>
          </Component>
          <Component Id="registry_entries" Guid="{43F4BF79-3C6E-4591-B96D-0C9629F7B615}">
            <RegistryKey Root="HKLM"
                         Key="Software\$(env.NETTOOL_MANUFACTURER)\prl_nettool">
              <RegistryValue Type="string" Name="ProductID" Value="92a1c836-90a3-4364-8a3e-196c4c3fc4b5" />
              <RegistryValue Type="string" Name="Version" Value="$(env.NETTOOL_VERSION)" />
            </RegistryKey>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="cmd" Value="cmd.exe"/>
    <Property Id="REINSTALLMODE" Value="amus"/>

    <Feature Id="PrlNettoolFeature" Title="Virtuozzo Windows network tool" Level="1">
      <ComponentRef Id="prl_nettool" />
    </Feature>

  </Product>
</Wix>
